.nav-left
{
	.nav-label
	{
		font-weight: bold;
		display: flex;
		flex-direction: row;
		align-items: center;

		.label-icon
		{
			background-color: var(--color-primary-100);
			color: var(--color-primary-500);
			text-align: center;
			height: 40px;
			width: 40px;
			padding: 10px;
			border-radius: 3px;
		}

		p
		{
			color: var(--color-primary-500);
			padding: 0 15px;
		}
	}

	ul.nav-list
	{
		padding: 0 20px;

		li.nav-item
		{
			border-left: 1px solid var(--color-gray-300);

			a.nav-link
			{
				color: var(--color-muted-500);
				font-weight: normal;
				padding: 15px 35px;

				&.router-link-exact-active,
				&.active
				{
					color: var(--color-gray-900);
				}
			}
		}
	}
}
