@use "sass:map";

@function theme-add($theme, $colors) {
    $themes: map-merge($themes, (
        $theme: $colors
    ));

    @return $themes;
}

@function theme-update-color($theme, $color, $colors) {

    @if map-has-key( $themes, $theme ) {
        $themeMap: map.get($themes, $theme);

        @if map-has-key( $themeMap, $color ) {
            $themeMap: map.set($themeMap, $color, $colors);
        }

        $themes: theme-update($theme, $themeMap);
    }

    @return $themes;
}

@function theme-update($theme, $colors) {
    $themes: map.set($themes, $theme, $colors);

    @return $themes;
}

@function theme-get($theme) {
    @return map.get($themes, $theme);
}
