// Badge
:root
{
    --badge-primary-color: var(--color-gray-500);
    --badge-secondary-color: var(--color-gray-400);
    --badge-tertiary-color: var(--color-gray-100);
}

.badge
{
    background-color: var(--badge-primary-color);
    color: var(--badge-tertiary-color);
    box-sizing: border-box;
    display: inline-block;
    font-weight: normal;
    border-radius: 3px;
    padding: 8px 12px;

    &.badge-soft
    {
        background-color: var(--badge-secondary-color);
    }

    &.badge-rounded
    {
        border-radius: 50%;
        padding: 12px;
        line-height: 10px;
        text-align: center;
    }
}

@include colors() using ( $color, $value, $type )
{
    .badge-#{$type}
    {
        --badge-primary-color: #{"var(--color-" + $type + "-500)"};
        --badge-secondary-color: #{"var(--color-" + $type + "-400)"};
        --badge-tertiary-color: #{"var(--color-" + $type + "-100)"};
    }
}
