// Badge
:root
{
    --badge-primary-color: var(--color-gray-500);
    --badge-secondary-color: var(--color-gray-400);
    --badge-tertiary-color: var(--color-gray-100);
}

.badge
{
    background-color: var(--badge-primary-color);
    color: var(--badge-tertiary-color);
    display: inline-block;
    font-weight: normal;
    border-radius: 3px;
    padding: 4px 8px;

    &.badge-small
    {
        padding: 8px 6px;
        font-size: 12px;
    }

    &.badge-medium
    {
        padding: 8px 12px;
        font-size: 14px;
    }

    &.badge-large
    {
        padding: 12px 16px;
        font-size: 16px;
    }

    &.badge-soft
    {
        background-color: var(--badge-tertiary-color);
        color: var(--badge-primary-color);
    }

    &.badge-rounded
    {
        border-radius: 50px;
        line-height: 10px;
        text-align: center;
        min-width: 25px;
        min-height: 25px;
    }
}

@include colors() using ( $color, $value, $type )
{
    .badge-#{$type}
    {
        --badge-primary-color: #{"var(--color-" + $type + "-500)"};
        --badge-secondary-color: #{"var(--color-" + $type + "-400)"};
        --badge-tertiary-color: #{"var(--color-" + $type + "-100)"};
    }
}
