:root
{
    --form-primary-color: var(--color-gray-100);
    --form-secondary-color: var(--color-gray-900);
    --form-tertiary-color: var(--color-gray-600);
    --form-checkbox-color: transparent;
    --form-switch-color: var(--color-muted-500);
}

.form-group
{
	.form-label
	{
		font-weight: 600;
		display: block;
	}
}

.form-control
{
    box-shadow: 0 1px 3px var(--color-gray-500);
    border: 2px solid transparent;
    background: var(--form-primary-color);
    color: var(--form-secondary-color);
    border-radius: 3px;
    display: block;
    width: 100%;

    // focus
    input:focus,
    &:focus-within
    {
        border-color: var(--color-primary-500);
    }

    // error
    &.form-error
    {
        border-color: var(--color-danger-500);
    }

    // reset
    &.form-loading
    {
        border-color: transparent;
    }

    input,
    select
    {
        padding: 1rem;
        width: 100%;
    }
}

input.form-control,
button.form-control,
textarea.form-control,
select.form-control
{
    padding: 1rem;
    margin: 0;
}

.form-checkbox,
.form-radio
{
    box-shadow: 0 1px 3px var(--color-gray-500);
    border: 2px solid transparent;
    background: var(--form-primary-color);
    color: var(--form-secondary-color);
    border-radius: 3px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;

    & + label
    {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    // Checkbox
    &:after
    {
        content: '';
        position: absolute;
        left: 3px;
        top: 7px;
        width: 2px;
        height: 2px;
        transform: rotate(45deg);
        background: var(--form-checkbox-color);
        box-shadow: 2px 0 0 var(--form-checkbox-color), 4px 0 0 var(--form-checkbox-color), 4px -2px 0 var(--form-checkbox-color), 4px -4px 0 var(--form-checkbox-color),  4px -6px 0 var(--form-checkbox-color), 4px -8px 0 var(--form-checkbox-color);
    }

    // Hover
    &:hover:not(:disabled):after
    {
        --form-checkbox-color: var(--color-muted-500);
    }

    // Focus
    &:focus:not(:disabled),
    &:focus-within:not(:disabled)
    {
        border-color: var(--color-primary-500);
    }

    // Checked
    &:checked:not(:disabled):after
    {
        --form-checkbox-color: var(--color-primary-500);
    }

    // Disabled
    &:disabled
    {
        background: var(--color-gray-400);

        &:checked:after
        {
            --form-checkbox-color: var(--color-gray-700);
        }
    }
}

.form-radio
{
    border-radius: 50%;

    // Checked
    &:checked:not(:disabled)
    {
        border-color: var(--color-primary-500);

        &:after
        {
            --form-checkbox-color: var(--color-primary-500);
        }
    }
}

.form-switch
{
    box-shadow: 0 1px 3px var(--color-gray-500);
    background: var(--form-primary-color);
    color: var(--form-secondary-color);
    border-radius: 50px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 40px;
    height: 20px;

    & + label
    {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    // Switch
    &:after
    {
        content: '';
        position: absolute;
        left: 0;
        right: initial;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: var(--form-switch-color);
    }

    // Checked
    &:checked
    {
        --form-switch-color: var(--color-primary-500);

        &:after
        {
            left: initial;
            right: 0;
        }
    }

    // Hover
    &:hover:not(:disabled):after
    {
    }

    // Focus
    &:focus:not(:disabled),
    &:focus-within:not(:disabled)
    {
        border-color: var(--color-primary-500);
    }

    // Checked
    &:checked:not(:disabled):after
    {
        --form-switch-color: var(--color-primary-500);
    }

    // Disabled
    &:disabled
    {
        background: var(--color-gray-400);

        &:checked:after
        {
            --form-switch-color: var(--color-primary-600);
        }
    }
}
