:root
{
    --form-primary-color: var(--color-gray-100);
    --form-secondary-color: var(--color-gray-900);
    --form-tertiary-color: var(--color-gray-600);
}

.form-group
{
	.form-label
	{
		font-weight: 600;
		display: block;
	}
}

.form-control
{
    box-shadow: 0 1px 3px var(--color-gray-500);
    border: 2px solid transparent;
    background: var(--form-primary-color);
    color: var(--form-secondary-color);
    box-sizing: border-box;
    border-radius: 3px;
    display: block;
    width: 100%;

    // focus
    input:focus,
    &:focus-within
    {
        border-color: var(--color-primary-500);
    }

    // error
    &.form-error
    {
        border-color: var(--color-danger-500);
    }

    // reset
    &.form-loading
    {
        border-color: transparent;
    }

    input,
    select
    {
        padding: 12px;
        width: 100%;
    }
}

input.form-control
{
    padding: 12px;
}
