:root
{
    --hero-primary-color: var(--color-gray-100);
    --hero-secondary-color: var(--color-gray-900);
    --hero-tertiary-color: var(--color-gray-500);
}

.hero
{
	background-color: var(--hero-primary-color);
    color: var(--hero-secondary-color);
    box-shadow: $box-shadow;
    border-radius: $border-radius;

}

@include colors() using ( $color, $value, $type )
{
	.hero-#{$type}
	{
        --hero-primary-color: #{"var(--color-" + $type + "-500)"};
        --hero-secondary-color: #{"var(--color-" + $type + "-100)"};

		&.hero-soft
		{
			--hero-primary-color: #{"var(--color-" + $type + "-200)"};
			--hero-secondary-color: #{"var(--color-" + $type + "-900)"};
		}

		&.hero-dark
		{
			--hero-primary-color: #{"var(--color-" + $type + "-900)"};
		}
	}
}
