.modal
{
    position: fixed;
    z-index: 1009 !important;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    flex-direction: row;
    justify-content: center;
    overflow: auto;

    &.modal-start
    {
        justify-content: start;
    }

    &.modal-center
    {
        justify-content: center;
    }

    &.modal-end
    {
        justify-content: end;
    }

    &.show
    {
        display: flex;
    }

    .modal-container
    {
        background-color: #FFFFFF;
        position: relative;
        min-width: 500px;
        max-width: 80%;
        display: flex;
        flex-direction: column;
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        padding: 0;
        overflow: auto;
        margin: 0 auto;

        .modal-heading
        {
            padding: 20px;
            position: relative;
            box-sizing: border-box;

            &:not(:last-child):after
            {
                border-top: 1px solid var(--card-secondary-color);
                position: absolute;
                content: "";
                left: 20px;
                right: 20px;
                bottom: 0;
            }
        }

        .modal-content
        {
            padding: 20px;
            flex: 1;
        }

        .modal-footer
        {
            background-color: var(--card-secondary-color);
            border-width: 80%;
            padding: 20px;
        }
    }

    &[data-backdrop="true"]
    {
        background: rgba(0, 0, 0, .25);
    }

    .animate__animated {
        --animate-duration: 200ms;
    }
}
