:root
{
    --nav-top-primary-color: var(--color-gray-100);
    --nav-top-secondary-color: var(--color-gray-700);
    --nav-top-tertiary-color: var(--color-gray-900);
    --nav-top-quaternary-color: var(--color-gray-500);
}

.nav-top
{
    box-shadow: $box-shadow;
	background-color: var(--nav-top-primary-color);
    color: var(--nav-top-secondary-color);
	transform: translate3d(0, 0, 0);
	transition: 0.25s all;
	position: relative;
	min-height: 50px;
    z-index: 1007;
    width: 100%;

	.nav-branding
	{
		display: inline-block;
		padding: 0 15px;

		h1
		{
			padding: 12px 0;
		}
	}

	ul.nav-list
	{
		display: inline-block;
		margin: 0;
		padding: 0;

		li.nav-item
		{
			display: inline-block;
		}

		li.nav-button
		{
			display: inline-block;
			padding: 6px 5px;
		}

		a.nav-link
		{
            color: var(--nav-top-secondary-color);
			padding: 12px 12px;
			display: block;

			&:hover
			{
                color: var(--nav-top-tertiary-color);
			}

			&.router-link-exact-active,
			&.active
			{
                color: var(--nav-top-tertiary-color);
                font-weight: bold;
			}
		}
	}

	// fixed on top
	&.nav-fixed
	{
		position: fixed;
		width: 100%;
		z-index: 99999;
		top: 0;
	}

	&.nav-fixed + * {
		margin-top: 50px;
	}

	// hide navigation
	&.nav-hidden
	{
		box-shadow: $border-radius;
		transform: translate3d(0, -100%, 0);
	}

	// stick within element
	&.nav-sticky
	{
		position: sticky;
		z-index: 1002;
	}

	// transparent navigation
	&.nav-transparent
	{
		background-color: transparent;
		box-shadow: $border-radius;
	}

	&.nav-rounded
	{
		border-radius: $border-radius;
	}

	a,
	a:hover
	{
		text-decoration: none;
	}

	/*.container
	{
		> *:first-child
		{
			margin-left: -15px;
		}

		> *:last-child
		{
			margin-right: -15px;
		}
	}*/

    // dropdown fix
    .dropdown
    {
        //

        .dropdown-content
        {
            //

            ul.nav-list
            {
                li.nav-item
                {
                    display: block;
                }
            }
        }
    }
}

@include breakpoint('md') using ( $name, $breakpoint )
{
    @media (max-width: #{$breakpoint})
    {
        .nav-top
        {
            max-width: 100% !important;

            // Collapsed
            &.nav-collapsed
            {
                .nav-collapse
                {
                    display: none;
                }
            }

            // Not collapsed
            &:not(.nav-collapsed)
            {
                z-index: 100090;

                .nav-collapse
                {
                    background-color: var(--nav-top-primary-color);
                    color: var(--nav-top-secondary-color);
                    position: fixed;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100vw;
                    max-width: 100vw;
                    height: 100vh;

                    ul.nav-list
                    {
                        display: block;

                        li.nav-button,
                        li.nav-item
                        {
                            display: block;
                        }
                    }

                    .dropdown
                    {
                        display: block;

                        .dropdown-content
                        {
                            left: 0;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}

@include colors() using ( $color, $value, $type )
{
	.nav-#{$type}
	{
		--nav-top-primary-color: #{"var(--color-" + $type + "-500)"};
		--nav-top-secondary-color: #{"var(--color-" + $type + "-200)"};
		--nav-top-tertiary-color: #{"var(--color-" + $type + "-100)"};

		&.nav-dark
		{
			--nav-top-primary-color: #{"var(--color-" + $type + "-900)"};
		}
	}
}
