:root
{
    --nav-left-primary-color: var(--color-gray-100);
    --nav-left-secondary-color: var(--color-gray-700);
    --nav-left-tertiary-color: var(--color-gray-900);
    --nav-left-quaternary-color: var(--color-gray-500);
}


.nav-left
{
    box-shadow: $box-shadow;
	background-color: var(--nav-left-primary-color);
    color: var(--nav-left-secondary-color);
    position: relative;
    z-index: 1007;

	.nav-branding
	{
		// ...

		img, svg
		{
			height: 50px;
		}
	}

	ul.nav-list
	{
		display: block;
        width: 100%;
		margin: 0;
		padding: 0;

		li.nav-item
		{
            position: relative;
            width: 100%;
            display: inline-block;

			a.nav-link
			{
				color: var(--nav-left-secondary-color);
				display: block;
				padding: 15px;

				&:hover
				{
					color: var(--nav-left-tertiary-color);
				}

				&.router-link-exact-active,
				&.active
				{
					color: var(--color-primary-500);
					font-weight: bold;
				}
			}

			.link-icon
			{
				color: var(--nav-left-tertiary-color);
				font-size: 22px;
				padding: 0 10px;
				width: 40px;
				box-sizing: border-box;
				text-align: center;
				display: inline-block;
			}
		}
	}

    .divider
    {
        background-color: var(--nav-left-quaternary-color);
        border-radius: $border-radius;
        height: 2px;
        width: calc(100% - 30px);
        margin: 15px 15px;
    }

    .dropdown
    {

        .dropdown-content
        {

            ul.nav-dropdown-items
            {
                margin: 0;
                margin-left: 20px;
                padding: 0;
                display: block;

                li.nav-item
                {
                    display: block;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

	a,
    a:hover
    {
        text-decoration: none;
    }

	// fixed on top
	&.nav-fixed
	{
		position: fixed;
		width: 100%;
		z-index: 99999;
		top: 0;
	}

	// hide navigation
	&.nav-hidden
	{
		box-shadow: none;
		transform: translate3d(0, -100%, 0);
	}

    // collapse navigation
    &.nav-collapsed
    {

        .dropdown-content
        {
            z-index: 999;
            position: absolute;
            background-color: #FFFFFF;
            border: 1px solid var(--color-gray-500);
            top: 10px;
            left: 80px;

            .nav-item a
            {
                color: var(--color-gray-900);
            }
        }
    }

	// stick within element
	&.nav-sticky
	{
		position: sticky;
		z-index: 102;
	}

	// transparent navigation
	&.nav-transparent
	{
		background-color: transparent;
		box-shadow: none;
	}

	&.nav-rounded
	{
		border-radius: $border-radius;
	}
}

// Phone
@include breakpoint('md') using ( $name, $breakpoint )
{
    @media (max-width: #{$breakpoint})
    {
        .nav-left
        {
            max-width: 100% !important;

            // Collapsed
            &.nav-collapsed
            {
                .nav-collapse
                {
                    display: none;
                }
            }

            // Not collapsed
            &:not(.nav-collapsed)
            {
                position: absolute;
		        z-index: 10010;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100vw;
                max-width: 100vw;
                height: 100vh;

                .nav-collapse
                {
                    background-color: var(--nav-top-primary-color);
                    color: var(--nav-top-secondary-color);

                    ul.nav-list
                    {
                        display: block;

                        li.nav-button,
                        li.nav-item
                        {
                            display: block;
                        }
                    }

                    .dropdown
                    {
                        display: block;

                        .dropdown-content
                        {
                            left: 0;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}

// Tablet or Computer
@include breakpoint('md') using ( $name, $breakpoint )
{
    @media (min-width: #{$breakpoint})
    {
        .nav-left
        {
            .nav-collapse
            {
                display: flex;
                flex: 1 1;
                flex-direction: column;
            }
        }
    }
}
