:root
{
    --nav-tab-primary-color: var(--color-gray-900);
    --nav-tab-secondary-color: var(--color-gray-700);
    --nav-tab-tertiary-color: var(--color-gray-900);
    --nav-tab-quaternary-color: var(--color-gray-500);
}

.nav-tab
{
    border-bottom: 1px solid var(--nav-tab-quaternary-color);
    color: var(--nav-top-secondary-color);
	position: relative;
    width: 100%;

	ul.nav-list
    {
	    position: relative;
		margin: 0;
        margin-bottom: -1px;
		padding: 0;

        li.nav-item
		{
			display: inline-block;
		}

		a.nav-link
        {
            border-bottom: 2px solid transparent;
            color: var(--nav-tab-secondary-color);
            text-decoration: none;
			padding: 12px 12px;
			display: block;

			&:hover
			{
                //
			}

			&.router-link-exact-active,
			&.active
			{
                border-color: var(--nav-tab-primary-color);
                color: var(--nav-tab-primary-color);
                font-weight: bold;
			}
        }
    }

	// fixed on top
	&.nav-fixed
	{
		position: fixed;
		width: 100%;
		z-index: 99999;
		top: 0;
	}

	&.nav-fixed + * {
		margin-top: 50px;
	}

	// hide navigation
	&.nav-hidden
	{
		box-shadow: none;
		transform: translate3d(0, -100%, 0);
	}

	// stick within element
	&.nav-sticky
	{
		position: sticky;
		z-index: 1002;
	}
}
