input, button, textarea, select
{
    padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input:disabled
{
    color: var(--color-muted-500);
}
