:root, :host
{
	@include colors() using ( $color, $value, $type )
	{
		#{"--color-" + $color}: #{$value};
	}
}

// loop through themes, and make a class for them
$list: map-remove($themes, $default-theme);

@each $theme, $properties in $list {
    #{".theme-" + $theme}
    {
        @each $name, $types in $properties {
            @each $color, $hex in $types {
                #{"--color-" + $color}: #{$hex};
            }
        }
    }
}

@include colors() using ( $color, $value, $type )
{
    #{".text-" + $type},
    #{".color-" + $type}
    {
        color: #{"var(--color-" + $type + "-500)"} !important;
    }

    #{".text-" + $color},
    #{".color-" + $color}
    {
        color: #{"var(--color-" + $color + ")"} !important;
    }

    #{".bg-" + $color}
    {
        background: #{"var(--color-" + $color+ ")"} !important;
    }
}
