$border-table: (
    "0": "0",
    "1": "1px",
    "2": "2px",
    "3": "3px",
    "4": "4px",
    "5": "5px"
);

/* Border Width */
@each $name, $value in $border-table
{
    @include breakpoints() using ( $name, $breakpoint )
    {
        $prefix: breakpoint-class($name);

        @media (min-width: #{$breakpoint})
        {
            #{"." + $prefix + "border-" + $name}
            {
                border-width: #{$value};
            }
        }
    }
}
