
/* Margin */
/* Position */
@include breakpoints() using ( $name, $breakpoint )
{
    $prefix: breakpoint-class($name);

	@media (min-width: #{$breakpoint})
    {
        @each $type, $suffix in $style-types
        {
            @include spacing-list() using ( $name, $value )
            {
                #{"." + $type + $prefix + "top-" + $name},
                #{"." + $type + $prefix + "start-" + $name}
                {
                    top: #{$value} !important;
                }

                #{"." + $type + $prefix + "bottom-" + $name},
                #{"." + $type + $prefix + "end-" + $name}
                {
                    bottom: #{$value} !important;
                }

                #{"." + $type + $prefix + "start-" + $name},
                #{"." + $type + $prefix + "left-" + $name}
                {
                    left: #{$value} !important;
                }

                #{"." + $type + $prefix + "end-" + $name},
                #{"." + $type + $prefix + "right-" + $name}
                {
                    right: #{$value} !important;
                }
            }
        }
    }
}
