
/* Position */
@include breakpoints() using ( $name, $breakpoint )
{
    $prefix: breakpoint-class($name);

	@media (min-width: #{$breakpoint})
    {
        @include positioning-list() using ( $value )
        {
            #{"." + $prefix + "top-" + $value}
            {
                top: #{$value + "px"} !important;
            }

            #{"." + $prefix + "top-pull-" + $value}
            {
                top: #{"-" + $value + "px"} !important;
            }

            #{"." + $prefix + "bottom-" + $value}
            {
                bottom: #{$value + "px"} !important;
            }

            #{"." + $prefix + "bottom-pull-" + $value}
            {
                bottom: #{"-" + $value + "px"} !important;
            }

            #{"." + $prefix + "start-" + $value},
            #{"." + $prefix + "left-" + $value}
            {
                left: #{$value + "px"} !important;
            }

            #{"." + $prefix + "start-pull-" + $value},
            #{"." + $prefix + "left-pull-" + $value}
            {
                left: #{"-" + $value + "px"} !important;
            }

            #{"." + $prefix + "end-" + $value},
            #{"." + $prefix + "right-" + $value}
            {
                right: #{$value + "px"} !important;
            }

            #{"." + $prefix + "end-pull-" + $value},
            #{"." + $prefix + "right-pull-" + $value}
            {
                right: #{"-" + $value + "px"} !important;
            }
        }
    }
}
