/* Position */
@include breakpoints() using ( $name, $breakpoint )
{
    $prefix: breakpoint-class($name);

	@media (min-width: #{$breakpoint})
    {
        #{"." + $prefix + "position-sticky"}
        {
            position: sticky;
            top: 0;
            z-index: 1002;
        }

        #{"." + $prefix + "position-absolute"}
        {
            position: absolute;
        }

        #{"." + $prefix + "position-static"}
        {
            position: static;
        }

        #{"." + $prefix + "position-fixed"}
        {
            position: fixed;
        }

        #{"." + $prefix + "position-relative"}
        {
            position: relative;
        }
	}
}
