$border-table: (
    "0": "0",
    "1": "1px",
    "2": "2px",
    "3": "3px",
    "4": "4px",
    "5": "5px"
);

// Borders
:root
{
    --border-color: var(--color-gray-500);
}

.border
{
    border: 1px solid var(--border-color);
}

.border-bottom
{
    border-bottom: 1px solid var(--border-color);
}

.border-top
{
    border-top: 1px solid var(--border-color);
}

.border-left,
.border-start
{
    border-left: 1px solid var(--border-color);
}

.border-right,
.border-end
{
    border-right: 1px solid var(--border-color);
}

// Border
@each $name, $value in $border-table
{
    #{".border-" + $name}
    {
        border-width: #{$value};
    }
}

@include colors() using ( $color, $value )
{
    .border-#{$color}
    {
        --border-color: #{"var(--color-" + $color + "-500)"};
    }
}
