:host, :root
{
	@include colors() using ( $color, $value, $type )
	{
		#{"--color-" + $color}: #{$value};
	}
}

@include colors() using ( $color, $value, $type )
{
    #{".text-" + $type},
    #{".color-" + $type}
    {
        color: #{"var(--color-" + $type + "-500)"} !important;
    }

    #{".text-" + $color},
    #{".color-" + $color}
    {
        color: #{"var(--color-" + $color + ")"} !important;
    }

    #{".bg-" + $color}
    {
        background: #{"var(--color-" + $color+ ")"} !important;
    }
}
