// Display
@include breakpoints() using ( $name, $breakpoint )
{
    $prefix: breakpoint-class($name);

    @media (min-width: #{$breakpoint})
    {
        #{"." + $prefix + "d-none"}
        {
            display: none !important;
        }

        #{"." + $prefix + "d-block"}
        {
            display: block !important;
        }

        #{"." + $prefix + "d-inline-block"}
        {
            display: inline-block !important;
        }

        #{"." + $prefix + "d-flex"}
        {
            display: flex !important;
        }

        #{"." + $prefix + "d-grid"}
        {
            display: grid !important;
        }
    }
}
