/* Grid */
@include breakpoints() using ( $name, $breakpoint )
{
    $prefix: breakpoint-class($name);

	@media (min-width: #{$breakpoint})
    {
		@for $i from 1 through $column-width
		{
			.#{$prefix}col-#{$i}
			{
				grid-column-start: span #{$i};
				grid-column-end: span #{$i};
			}

			.#{$prefix}col-start-#{$i}
			{
				grid-column-start: span #{$i+1};
				grid-column-end: span #{$i+1};
			}

			.#{$prefix}col-end-#{$i}
			{
				grid-column-start: span #{$i+1};
				grid-column-end: span #{$i+1};
			}

			.#{$prefix}col-push-#{$i}
			{
				grid-column-start: #{$i+1} !important;
			}
		}
	}
}
