
// Display
@include breakpoints() using ( $breakpoint, $size )
{
    $prefix: breakpoint-class($breakpoint);

    @include spacing-list() using ( $name, $value )
    {
        @media (min-width: #{$size})
        {
            #{"." + $prefix + "m-" + $name}
            {
                margin: #{$value} !important;
            }

            #{"." + $prefix + "mb-" + $name},
            #{"." + $prefix + "my-" + $name}
            {
                margin-bottom: #{$value} !important;
            }

            #{"." + $prefix + "mt-" + $name},
            #{"." + $prefix + "my-" + $name}
            {
                margin-top: #{$value} !important;
            }

            #{"." + $prefix + "ms-" + $name},
            #{"." + $prefix + "ml-" + $name},
            #{"." + $prefix + "mx-" + $name}
            {
                margin-left: #{$value} !important;
            }

            #{"." + $prefix + "me-" + $name},
            #{"." + $prefix + "mr-" + $name},
            #{"." + $prefix + "mx-" + $name}
            {
                margin-right: #{$value} !important;
            }

            // Pull Margin
            #{"." + $prefix + "mb-pull-" + $name}
            {
                margin-bottom: -#{$value} !important;
            }

            #{"." + $prefix + "mt-pull-" + $name}
            {
                margin-top: -#{$value} !important;
            }

            #{"." + $prefix + "ml-pull-" + $name}
            {
                margin-left: -#{$value} !important;
            }

            #{"." + $prefix + "mr-pull-" + $name}
            {
                margin-right: -#{$value} !important;
            }
        }
    }
}
