/* Padding */
@include breakpoints() using ( $breakpoint, $size )
{
    $prefix: breakpoint-class($breakpoint);

    @include spacing-list() using ( $name, $value )
    {
        @media (min-width: #{$size})
        {
            #{"." + $prefix + "p-" + $name}
            {
                padding: #{$value} !important;
            }

            #{"." + $prefix + "pb-" + $name},
            #{"." + $prefix + "py-" + $name}
            {
                padding-bottom: #{$value} !important;
            }

            #{"." + $prefix + "pt-" + $name},
            #{"." + $prefix + "py-" + $name}
            {
                padding-top: #{$value} !important;
            }

            #{"." + $prefix + "ps-" + $name},
            #{"." + $prefix + "pl-" + $name},
            #{"." + $prefix + "px-" + $name}
            {
                padding-left: #{$value} !important;
            }

            #{"." + $prefix + "pe-" + $name},
            #{"." + $prefix + "pr-" + $name},
            #{"." + $prefix + "px-" + $name}
            {
                padding-right: #{$value} !important;
            }
        }
    }
}
