/* Position */
.position-sticky
{
    position: sticky;
    z-index: 1002;
}

.position-absolute
{
    position: absolute;
}

.position-static
{
    position: static;
}

.position-fixed
{
    position: fixed;
}

.position-relative
{
    position: relative;
}

@include breakpoints() using ( $name, $breakpoint )
{
	@media (min-width: #{$breakpoint})
    {
        .position-#{$name}-sticky
        {
            position: sticky;
            top: 0;
            z-index: 1002;
        }

        .position-#{$name}-absolute
        {
            position: absolute;
        }

        .position-#{$name}-static
        {
            position: static;
        }

        .position-#{$name}-fixed
        {
            position: fixed;
        }

        .position-#{$name}-relative
        {
            position: relative;
        }
	}
}
