.sticky
{
    position: sticky;
    top: 0;
    z-index: 1002;
}

.absolute
{
    position: absolute;
}

.static
{
    position: static;
}

.fixed
{
    position: fixed;
}

.relative
{
    position: relative;
}
