
/* Margin */
@include spacing-list() using ( $name, $value )
{
    #{".top-" + $name},
    #{".start-" + $name}
    {
        top: #{$value} !important;
    }

    #{".bottom-" + $name},
    #{".end-" + $name}
    {
        bottom: #{$value} !important;
    }

    #{".start-" + $name},
    #{".left-" + $name}
    {
        left: #{$value} !important;
    }

    #{".end-" + $name},
    #{".right-" + $name}
    {
        right: #{$value} !important;
    }
}
